//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        LANGchange_combo {
            bindings = <&kp LANG1>;
            key-positions = <17 18>;
        };

        ESC_combo {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        Basic_Layer {
            bindings = <&to 0>;
            key-positions = <36 26>;
        };

        Second_Layer {
            bindings = <&to 1>;
            key-positions = <36 27>;
        };

        TAB_combo {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        ENTER_combo {
            bindings = <&kp ENTER>;
            key-positions = <15 16>;
        };

        DEL_combo {
            bindings = <&kp DEL>;
            key-positions = <35 36>;
        };
    };

    macros {
        PW1: PW1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_0 &kp T &kp NUMBER_0 &kp L &kp E &kp R &kp AT_SIGN &kp N &kp C &kp E>;
            label = "PW1";
        };
    };

    behaviors {
        hr: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
       &mt TILDE Q     &kp W  &kp E               &kp R      &kp T             &kp Y  &kp U          &kp I      &kp O    &kp P
       &hr LEFT_ALT A  &kp S  &hr LEFT_CONTROL D  &kp F      &kp G             &kp H  &kp J          &kp K      &kp L    &kp SEMI
&none  &kp Z           &kp X  &kp C               &kp V      &kp B             &kp N  &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp MINUS
                              &kp LEFT_GUI        &kp SPACE  &kp LEFT_SHIFT    &mo 1  &kp BACKSPACE  &none
            >;
        };

        NUM {
            bindings = <
              &bt BT_CLR_ALL  &none         &trans  &trans  &trans    &mt F7 NUMBER_7  &mt F8 NUMBER_8  &mt F9 NUMBER_9  &kp UP_ARROW  &kp DOWN
              &trans          &trans        &trans  &trans  &trans    &mt F4 NUMBER_4  &mt F5 NUMBER_5  &mt F6 NUMBER_6  &kp LEFT      &kp RIGHT
&bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &none   &trans  &trans    &mt F1 NUMBER_1  &mt F2 NUMBER_2  &mt F3 NUMBER_3  &kp NUMBER_0  &trans     &PW1
                                            &trans  &trans  &trans    &trans           &trans           &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
