//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        LANGchange_combo {
            bindings = <&kp LANG1>;
            key-positions = <17 18>;
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
            layers = <0>;
        };

        ESC_combo {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            slow-release;
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
        };

        TAB_combo {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
        };

        ENTER_combo {
            bindings = <&kp ENTER>;
            key-positions = <16 17>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        DEL_combo {
            bindings = <&kp DEL>;
            key-positions = <31 30>;
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
        };

        to_layer_1 {
            bindings = <&to 1>;
            key-positions = <36 37>;
            layers = <0>;
        };

        to_layer_0 {
            bindings = <&to 0>;
            key-positions = <36 37>;
            layers = <1>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <12 13>;
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
        };

        momentary_layer_3 {
            bindings = <&mo 4>;
            key-positions = <20 21>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <12 24>;
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
        };
    };

    macros {
        PW1: PW1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_0 &kp T &kp NUMBER_0 &kp L &kp E &kp R &kp AT_SIGN &kp N &kp C &kp E>;
            label = "PW1";
        };

        PW2: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_2 &kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_9 &kp NUMBER_0 &kp NUMBER_1 &kp Q &kp EXCLAMATION &kp AT_SIGN>;
            label = "NEW_MACRO";
        };

        PW3: PW3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AT_SIGN &kp E &kp L &kp V &kp H &kp X &kp K &kp D &kp L &kp A>;
            label = "PW3";
        };

        mail: mail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp F &kp F &kp I &kp C &kp E &kp D &kp E &kp P &kp O &kp T &kp DOT &kp C &kp O &kp DOT &kp K &kp R>;
            label = "MAIL";
        };
    };

    behaviors {
        hr: homerow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };

        td1: tapdance1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE1";
            #binding-cells = <0>;
            bindings = <&PW2>, <&PW1>, <&PW3>;

            tapping-term-ms = <300>;
        };

        ht: holdtap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };

        td2: tapdance2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE2";
            #binding-cells = <0>;
            bindings = <&mail>;
            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
        &ht LS(Q) Q     &ht LS(W) W  &ht LS(E) E         &ht LS(R) R  &ht LS(T) T       &kp Y          &kp U              &kp I              &ht LS(O) O  &ht LS(P) P
        &hr LEFT_ALT A  &kp S        &hr LEFT_CONTROL D  &kp F        &hr LEFT_GUI G    &kp H          &kp J              &kp K              &kp L        &kp SEMI
&trans  &kp Z           &kp X        &kp C               &kp V        &kp B             &kp N          &ht EXCLAMATION M  &ht AT_SIGN COMMA  &kp DOT      &ht LS(FSLH) FSLH  &ht LS(MINUS) MINUS
                                     &mo 2               &mo 1        &kp SPACE         &kp BACKSPACE  &kp RIGHT_SHIFT    &trans
            >;
        };

        NUM {
            bindings = <
                &kp TILDE  &trans          &kp UP_ARROW    &trans           &trans       &trans         &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SINGLE_QUOTE
                &trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &td2         &kp BACKSLASH  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LEFT_BRACKET
&kp LEFT_SHIFT  &trans     &trans          &trans          &trans           &td1         &kp EQUAL      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp RIGHT_BRACKET  &trans
                                           &trans          &trans           &kp SPACE    &kp BACKSPACE  &kp NUMBER_0  &trans
            >;
        };

        ETC {
            bindings = <
        &trans  &trans              &kp LS(UP_ARROW)    &trans               &trans       &trans         &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &trans
        &trans  &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &trans       &trans         &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &trans
&trans  &trans  &trans              &trans              &trans               &trans       &trans         &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &trans  &trans
                                    &trans              &trans               &kp SPACE    &kp BACKSPACE  &kp LS(NUMBER_0)  &trans
            >;
        };

        Function {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans   &kp F7   &kp F8  &kp F9  &trans
        &trans  &trans  &trans  &trans  &trans    &kp F12  &kp F4   &kp F5  &kp F6  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F11  &kp F1   &kp F2  &kp F3  &trans  &trans
                        &trans  &trans  &trans    &trans   &kp F10  &trans
            >;
        };

        Bluetooth {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 3  &bt BT_SEL 4  &trans        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &bt BT_CLR  &bt BT_CLR_ALL
                        &trans  &trans  &trans    &trans        &trans        &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Function_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
